@import '~bootstrap/scss/bootstrap';

.topnav {
    display: none;
}

#resource-forms {
    display: none;
}

#wings-table {
    display: none;
}

td {
    vertical-align: top;
    text-align: left;
}

#wings-table, #wings-table > th {
    border: 1px solid;
}

th, td {
    padding: 5px;
}