@import '~bootstrap/scss/bootstrap';

.topnav {
    display: none;
}

#not-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#resource-forms {
    display: none;
}

#wings-table {
    display: none;
}

#searchbar {
    display: none;
}

td {
    vertical-align: top;
    text-align: left;
}

#wings-table, #wings-table > th {
    border: 1px solid;
}

th, td {
    padding: 5px;
}